/************************************************************************/
/* 기본 설정 */
* { text-decoration: none; }

/************************************************************************/
/* 페이지 구성 */
nav { float: left; width: 20%; }
section { margin-left: 22%; border-bottom: solid; }

/************************************************************************/
/* 페이지 세부설정 */
/* 타이틀 설정*/
body > header > h1 > center {background-color: green; color: white; padding: 5px;}

/* 버튼 설정 */
body > footer > a.top { background-color: green; color: white; position: fixed; right: 0px; bottom: 0px; padding: 10px; margin: 0px;}
body > footer > p.colorChange { background-color: orange; color: white; position: fixed; right: 75px; bottom: 0px; padding: 10px; margin: 0px;}

/* 링크 이벤트 설정 */
li > a:link, span > a:link, .ExternalLink > a:link {color: black;}
li > a:visited, span > a:visited, .ExternalLink > a:visited {color: black;}
li > a:hover, span > a:hover {background-color: green; color: white;}

/* 이미지 설정 */
img.skriptImg {width: 100px; height: 100px; transition: all 1.5s}
img.skriptImg:hover {width: 200px; height: 200px; transition: all 1.5s}
